<% provide(:title, "解散队伍") %>
<h1>解散队伍</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@team, method: :delete) do |f| %>
      <%= render 'shared/error_msg', object: f.object, name: "请求" %>
      <%= f.submit "确认", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
