<li>
  <div class="row">
    <aside class="large-3 columns">
      <section class="owner">
	<%= link_to reply.user.name, reply.user %>
      </section>
      <section>
	<%= reply.created_at.strftime("%Y年%m月%d日 %T") %>
      </section>
    </aside> 
    <div class="large-9 columns">
      <%= simple_format(reply.content, style: "text-indent:50px;") %>
    </div> 
  </div>
</li>
