<div class="row collapse">
  <div class="large-3 small-3 columns">
    <span class="attached-label">标题</span>
  </div>
  <div class="large-9 small-9 columns">
    <%= f.text_field :title, class: "attached-input" %>
  </div>
</div>
<div class="row collapse">
  <div class="large-3 small-3 columns">
    <span class="attached-label">内容</span>
  </div>
  <div class="large-9 small-9 large-centered small-centered columns">
    <%= f.text_area :content, class: "attached-input" %>
  </div>
</div>
