<% provide(:title, '全部公告') %>
<h1>全部公告</h1>

<div class="row">
  <div class="large-centered large-8 columns">
    <ul class="informs">
      <%= render @informs %>
    </ul>
  </div>
  <% if !@informs.blank?%>
    <%= paginate @informs %>
  <% end %>
</div>
