<% provide(:title , '文档') %>
<h1>文档</h1>
<div class="row">
  <div class="large-centered large-8 columns">
    <ul>
      <%= render @docs %>
    </ul>
  </div>
  <% if @docs%>
    <%= paginate @docs %>
  <% end %>
</div>
