/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 */
.teams-table {
  table-layout: fixed; }
  .teams-table th.name, .teams-table td.name {
    width: 200px; }
  .teams-table th.leader, .teams-table td.leader {
    width: 90px; }
  .teams-table th.email, .teams-table td.email {
    width: 230px; }
  .teams-table th.result, .teams-table td.result {
    width: 50px; }

.datetime_select select {
  background: transparent;
  padding: 5px;
  border: 0;
  border-radius: 0; }
  .datetime_select select:nth-child(1) {
    width: 70px; }
  .datetime_select select:nth-child(2) {
    width: 80px; }
  .datetime_select select:nth-child(3) {
    width: 50px; }
  .datetime_select select:nth-child(4) {
    width: 50px; }
  .datetime_select select:nth-child(5) {
    width: 50px; }
