<% provide(:title , '') %>
<div class="row">
  <div class="large-12 large-centered columns">
    <div class="index-image">
      <%= image_tag("index.jpg", alt: "主页", class: "image") %>
    </div>
    <div id="index-image-text">
      <p class="center">
	<span>“TI杯”清华大学第16届电子设计大赛</span>
      </p>
      <p class="center">
	<span>管理员们, 请为所欲为</span>
      </p>
    </div>
  </div>
</div>
