<footer class="footer">
  <div class="row">
    <div class="large-4 columns">
      <ul>
	<li>清华大学电工电子实验教学中心 主办</li>
	<li>清华大学电子系科协</li>
	<li>清华大学自动化系科协 承办</li>
      </ul>
    </div>
    <div class="large-4 columns">
      <ul>
	<li>赞助: <a href="http://www.ti.com.cn"><%= image_tag("ti-logo.png", alt: "德州仪器", class: "") %></a></li>
      </ul>
    </div>
    <div class="large-4 columns">
      <ul style="float:right;">
	<li><%= link_to "关于", about_path %></li>
      </ul>
    </div>
  </div>
</footer>
